.set{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Inter", sans-serif;
    padding: 0 20px 0 20px;
}
.block{
    background: #FFF5D9;
    color: #FFBB38;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    border-radius: 20px;
}
.appre{
    width: 70%;
}
.l{
    font-weight: 500;
    font-size: 14px;
    color: #232323;
}
.i{
    font-weight: 400;
    font-size: 12px;
    color: #718EBF;
}
@media (max-width: 1000px){
    .block{
        width: 45px;
        height: 45px;
        border-radius: 15px;
        font-size: 18px;
    }
    .appleStore{
        font-size: 12px;
    }
    .return{
        font-size: 11px;
    }
}