/* .grafik {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 730px;
    height: 322px;
    background: #fff;
    border-radius: 25px;
} */